<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--authentication mode="Forms">
        <forms loginUrl="logon.aspx" name="adAuthCookie" timeout="10" path="/">
        </forms>
      </authentication-->
      <!--authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization-->
      <identity impersonate="true"/>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PrincipalManagementSoap" />
        <binding name="PrincipalManagementInterfaceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PrincipalManagementSoap1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PrincipalManagementInterfaceSoap1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.21.10/bss/PrincipalManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="PrincipalManagementSoap"
        contract="PrincipalManagement.PrincipalManagementSoap" name="PrincipalManagementSoap" />
      <endpoint address="http://10.10.21.10/bss/PrincipalManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="PrincipalManagementInterfaceSoap"
        contract="PrincipalManagement.PrincipalManagementInterfaceSoap"
        name="PrincipalManagementInterfaceSoap" />
      <endpoint address="http://10.10.21.10/bss/PrincipalManagement.asmx"
        binding="customBinding" bindingConfiguration="PrincipalManagementSoap1"
        contract="PrincipalManagement.PrincipalManagementSoap" name="PrincipalManagementSoap1" />
      <endpoint address="http://10.10.21.10/bss/PrincipalManagement.asmx"
        binding="customBinding" bindingConfiguration="PrincipalManagementInterfaceSoap1"
        contract="PrincipalManagement.PrincipalManagementInterfaceSoap"
        name="PrincipalManagementInterfaceSoap1" />
    </client>
  </system.serviceModel>
</configuration>
